.profile-image
{
  height: 317px;
  width: 317px;
  border-radius: 10px 10px 0px 0px;
  display: flex;
}

.profile  
{
  text-align: center;
  margin: 50px;
  background-color: #1A1B21;
  width: 317px;
}

h1
{
  color: #FFFFFF;
  font-weight: 700 bold;
  font-size: 25px;
  font-family: inter;
}

h2
{
  color: #F3BF99;
  font-size: 12.8px;
  font-family: inter;
}

p
{
  color: #FFFFFF;
  font-size: 10.24px;
  font-family: inter;
}

div > .content
{
  padding: 36px;
  text-align: left;
  color: #F5F5F5;
}

p >.content 
{
  color : #DCDCDC;
}

button
{
  Width : 115px;
  Height : 34px;
  padding: 9px, 13px, 9px, 11px;
  border-radius: 6px;
  margin : 6px;  
}

 .email-button
{
  background-color: #FFFFFF;
}

.linkedin-button
{
  background-color: #5093E2;
}

.footer
{
  background-color: #161619;
  color: #918E9B;
}

.footer > div 
{
  height: 25px;
  width: 25px;
  display: inline-block;
  padding: 10px;
}

